{% load shopelement %}
<div class="filter_block dropdown-win">
    <button class="btn-close">закрыть</button>
    {% filterform %}
</div>

<script>
    $(document).ready(function(){
        $( ".filter_block #slider-range" ).slider({
            range: true,
            min: 0,
            max: 1500,
            values: [ 0, 1500 ],
            slide: function( event, ui ) {
                $( ".filter_block #id_price_range" ).val(  ui.values[ 0 ] + " - " + ui.values[ 1 ] );
            }
        });
        $(".filter_block #id_price_range" ).val($( ".filter_block #slider-range" ).slider( "values", 0 ) + " - " + $( ".filter_block #slider-range" ).slider( "values", 1 ));
        $(".filter_block #id_price_range").prop('disabled',true);
        $(".filter_block #id_price_range").add(' грн');
    });

</script>
