{% load staticfiles %}
<div class="banners">
		<div class="black-back"></div>
		<div class="banner l3">
			<img src="{% static 'img/banner-1.png' %}" class="main-img">
			<div class="banner-text">Бесплатная доставка до 21 дня по всей стране</div>
		</div>
		<div class="banner l3">
			<img src="{% static 'img/banner-2.png' %}" class="main-img">
			<div class="banner-text">Професиональные консультанты</div>
		</div>
		<div class="banner l3">
			<img src="{% static 'img/banner-3.png' %}" class="main-img">
			<div class="banner-text">Довольный клиент каждый день</div>
		</div>
		<div class="banner l3">
			<img src="{%  static 'img/banner-4.png' %}" class="main-img">
			<div class="banner-text"></div>
		</div>
	</div>