{% load shopelement %}

<div class="big_search dropdown-win">
    <button class="btn-close">закрыть</button>
    <div class="big_content">
        <div class="big_search_h">Самый удобный поиск от Zapas.co</div>
        {% include 'partials/search.html' %}
        {% filterform %}

    </div>
</div>

