<div class="form-place dropdown-win" style="display: none">
    <button class="btn-close">закрыть</button>
    <div class="col-sm-8" style="border-right: 2px solid #7b879f;">
        <p class="cb-h">Связаться с нами</p>
        <div id="form-callback">
            {{ clientform }}
        </div>
        <button class="btn-call" id="sbmt-msg">отправить</button>
    </div>
    <div class="col-sm-4">
        <p class="cb-h">Частые вопросы</p>
        <ul style="list-style-type: none; font-size: 14px; color:#fff">
            <li><span class="list-line">-</span> Как оплотить покупку</li>
            <li><span class="list-line">-</span> Доставка посылок</li>
            <li><span class="list-line">-</span> Гарантии возврата</li>
            <li><span class="list-line">-</span> Как подобрать размер</li>
            <li><span class="list-line">-</span> Сколько дней идет посылка</li>
        </ul>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#id_variant").children()[0].remove();
        $("#id_variant input[type='radio']").click(function () {
           if($(this).val()==2){
               $("#id_phone").fadeIn();
           }
           else{
               $("#id_phone").fadeOut();
           }
        });
        function serialize_div(elem){
            var obj = {};
            var arr = $(elem+' input, '+elem+' textarea, '+ elem+' select');
            $.each(arr,function(i,val){if($(val).attr('type')=='radio'){if($(val).prop('checked')){obj[$(val).attr('name')] = $(val).val()}}else{obj[$(val).attr('name')] = $(val).val()}});
            return obj
        };

        $('#sbmt-msg').on('click', function ()
        {
        event.preventDefault();
        var params = $('#form-callback').serialize();
            alert(params);
            $.get(
                '{% url "main:submitmsg" %}',
                serialize_div('#form-callback'),
                function (data) {
                    $('.error_field').removeClass('error_field');
                    if(data == 'ok'){
                        msg = 'Благодарим за ваше сообщение мы скоро его обработаем и вам сообщим';
                        alert(msg);
                    }
                    else {

                        var obj = $.parseJSON(data);
                        $.each(obj,function (i, value) {
                            alert(i);

                           $('#id_'+i).addClass('error_field');
                        });
                    }
                }
        )
        });
    })
</script>