{% for field in filterform %}
    {% if forloop.last %}

        <div id="slider-range"></div>
        <p id="input-range">
            <label>{{ field.label }}</label>
            <span style="float: right">{{ field }}</span>
        </p>
    {% else %}
        <p>
            {{ field }}
            <label>{{ field.label }}</label>
        </p>
    {% endif %}
{% endfor %}

<script>
    $(document).ready(function(){
        $( "#slider-range" ).slider({
            range: true,
            min: 0,
            max: 1500,
            values: [ 0, 1500 ],
            slide: function( event, ui ) {
                $( "#id_price_range" ).val(  ui.values[ 0 ] + " - " + ui.values[ 1 ] );
            }
        });
        $( "#id_price_range" ).val($( "#slider-range" ).slider( "values", 0 ) + " - " + $( "#slider-range" ).slider( "values", 1 ));
        $("#id_price_range").prop('disabled',true);
    });

</script>
