{% load i18n %}
{% load staticfiles %}
<footer class="footer container-fluid">
    {% block footer %}
        <div class="shop-info">
		<div class="info-block l4 dark_blue_2">оплата и доставка</div>
		<div class="info-block l4 dark_blue_1">гарантии и возвраты</div>
		<div class="info-block l4 dark_blue_2">отзывы клиентов</div>
	    </div>
        <div id="bottom" class="dark_blue_3">
	<div id="bottom-cont">
	<div id="license">2016-все права защищены</div>
	<div ><p class="logo-text">ZAPAS.CO<span class="subtext font-13">магазин роскошных платьев</span></p></div>
	<div class="social">
		<a href="https://www.facebook.com/zapas.co"><img src="{% static 'img/fb-ico.png' %}"></a>
		<a href="https://vk.com/zapasco"><img src="{% static 'img/vk-ico.png' %}"></a>
        <a href="https://vk.com/zapasco"><img src="{% static 'img/insta-ico.png' %}"></a>
	</div>
	<div class="contact-info"><a href="#backcall"><p class="contact">+38 095 123-77-73<span class="subtext">обратный звонок</span></p></a></div>
	<div class="contact-info"><p class="contact">email: hello@zapas.co<span class="subtext">написать нам</span></p></div>
	</div>
</div>
    {% endblock %}
</footer>