{% load currency_filters %}
{% load i18n %}

<!--<a href="{% url 'basket:summary' %}">-->
<div class="mini-cart {% if request.basket.num_lines %} bolot {% else %} empty {% endif %}">
    <div class="cart-text">
        <p id="cart-info-text">{% if request.basket.num_lines %} Вы совершили {{ request.basket.num_lines }} покупок на суму {% else %}Ваша корзина на данный момент пуста{% endif %}</p>
        <p id="cart-price">
            {% if request.basket.is_tax_known %}
                {{ request.basket.total_incl_tax|currency:request.basket.currency }}
            {% else %}
                {{ request.basket.total_excl_tax|currency:request.basket.currency }}
            {% endif %}
        </p>

	</div>
</div>

<div class="dropdown-basket dropdown-win" style="display: none;" >
    <button class="btn-close">закрыть</button>
    <div id="basket_content">
    {% include "basket/partials/basket_quick.html" %}
    </div>
        <div class="summary"><strong>Оплата заказа и выбор способа доставки</strong></div>
</div>
<script>
    $(document).ready(function () {
       $(".summary").on("click",function () {
           $(".basket-mini-item").slideUp(400);
           $(".delivery_form").fadeIn(600);
           $(this).removeClass("summary");
           $(this).children('strong').text('Да все верно!Нажмите и ожидайте посылку;)');
           $(this).addClass("submit-basket");
           $(".submit-basket").click(
                   function () {
                       $.ajax({
                           method:'GET',
                           url:"{% url 'main:submt_basket' %}",
                           data:$("#delivery").serialize(),
                           success: function (msg) {
                               if(msg =='Проверьте почту'){
                                   alert(msg);
                               }
                               else {
                                   var obj = $.parseJSON(data);
                                    $.each(obj,function (i, value) {
                                    alert(i);
                                    $('#id_'+i).addClass('error_field');
                        });
                               }
                           }
                       })
                   }
           );

       });


    });

</script>

<!--</a>-->
<!--
<div class="basket-mini pull-right hidden-xs">



    <span class="btn-group">
        <a class="btn btn-default" href="{% url 'basket:summary' %}">{% trans "View basket" %}</a>
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
            <li></li>
        </ul>
    </span>
</div>
-->
