{% load i18n %}

<form method="get" action="{% url 'search:search' %}" class="navbar-form navbar-right">
    <div class="form-group">
        {{ search_form.q }}
        <input type="submit" value="ПОИСК" class="btn btn-default" />
    </div>
</form>
