 @font-face {
    font-family: NeoSans; /* Гарнитура шрифта */
    src: url("../fonts/NeoSansPro-Regular.baf7b1055484.ttf"); /* Путь к файлу со шрифтом */
  }
*{
    font-family: NeoSans;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #758199;
}

#top{
  position: relative;
  width: 1200px;
  margin: 0 auto;
  height: 495px;
  font-size: 0px;
}

.top_menu {
  z-index: 20;
  display: inline-table;
  text-align: center;
  width: 105px;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  font-size: 14px;
  background: #f6f6f6;
}
.vertical{
	
}
.horizontal{
	display: inline-block !important;
	width: 59%;
	height: 100px !important;
	position: relative !important;
	text-align: left;
}

.block-cont{
	position: absolute;
	z-index: 100;
	height:100%;
	width: 1095px;
}

.categorys{
    z-index: 999;
	position: absolute !important;
	height: 495px;
    font-size: 0px;
    overflow: hidden;
}

.cat-block{
    display: inline-block;
    width:300px;
    height: 495px;
    position: relative;
    color:#fff;
    font-size: 18px;
}

.cat-block .cat-img{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    left: 0px;
}

.cat-block .cat-title{
    position: absolute;
    left: 45px;
    bottom: 30px;
}


.horizontal .menu-block{
	height: 100% !important;
	position: relative;
	text-align: center;
	display: inline-block;
    padding-top: 13px;
    box-sizing: border-box;
}

.logo,
.cart {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
.logo {
  position: relative;
  display: inline-table;
  width: 710px;
  background: url("../img/logobackimg.70d6c9a7d46f.png");
}
.cart {
  width: 490px;
}
.menu-block {
  width: 105px;
  display: table-cell;
  vertical-align: middle;
  height: 165px;
  outline: none;
}
.menu-block:hover, .block-select{
  background: #758199;
  color: #fff;
}
.logo-text {
  padding-left: 105px;
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-size: 45px;
}
.logo-text .subtext {
  display: block;
  font-size: 14px;
}
.cart {
  position: relative;
  background: url("../img/cart-img.3d7e50d322b3.png");
  color: #fff;
}
.cart-place,
.article-info {
  display: table;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #fff;
}
.cart-place {
  background: #d33f4d;
}
.cart-text,
.article-text {
  padding: 0 30px;
  display: table-cell;
  vertical-align: middle;
}
#cart-info-text,
#article-title {
  font-size: 16px;
}
#cart-price,
#article-price {
  font-size: 24px;
}
.article-place {
}
.l3 {
  width: 25%;
}
.l4 {
  width: 33.33%;
}
.l6 {
  width: 50%;
}

.tovar-500{
    height: 500px !important;
}

.tovar{
    height: 600px;
}
.tovar,
.banner {
  vertical-align: top;
  display: inline-block;
  position: relative;
}
.banner{
    height: 100%;
}
.content {
  width: 1200px;
  margin: 0 auto;
  font-size: 0px;
}
.tovar .main-img,
.banner .main-img {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 0;
  position: absolute;
}

.article-brand {
  position: absolute;
  top: 35px;
  right: 30px;
  z-index: 2;
}
.best-article {
  position: relative;
  height: 500px;
}
.violet {
  background: #8f515b;
}
.category-label {
  display: table;
  z-index: 5;
  position: absolute;
  font-size: 24px;
  width: 165px;
  top: 0;
  height: 100%;
  text-align: center;
  color: #fff;
}
.category-label p {
  transform: rotate(-90deg);
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
#best-article-place {
  height: 100%;
  position: relative;
  padding-left: 165px;
}
.banners {
  position: relative;
  height: 135px;
}
.banner-text {
  font-size: 21px;
  color: #fff;
  z-index: 100;
  position: absolute;
  bottom: 20px;
  left: 15px;
}
.black-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  top: 0px;
  left: 0px;
  z-index: 9;
}
.dark_blue_1 {
  background: #8d96aa;
}
.dark_blue_2 {
  background: #828da4;
}
.dark_blue_3 {
  background: #758199;
}
.shop-info {
  display: table;
  height: 85px;
  width: 100%;
}
.info-block {
  display: table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 17px;
  color: #fff;
}
#bottom {
  color: #fff;
  margin: 0 auto;
  width: 1200px;
  font-size: 16px;
  height: 100px;
}
#bottom-cont {
  width: 100%;
  text-align: justify;
  display: table;
  padding: 0px 55px;
  height: 100%;
  box-sizing: border-box;
}
#bottom-cont div {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
#bottom .logo-text {
  display: inline;
  font-size: 33px;
  padding-left: 0px;
}
.font-13 {
  font-size: 13px !important;
}
#bottom .subtext {
  display: block;
}
.social a {
  margin-right: 25px;
}
.social a:last-of-type {
  margin-right: 0px;
}
.logo .social {
  position: absolute;
  bottom: 25px;
  right: 30px;
}
.tovar .black-hover, .tovar .hover-content{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 16px;
	color:#fff;

}
.tovar:hover .black-hover, .tovar:hover .hover-content{
	display: block;
}
.tovar .black-hover{
	opacity: 0.6;
	background: #000;
	z-index: 100;
}
.tovar .hover-content{
	z-index: 101;

}
.hover-content .descrp{
	padding-left: 45px;
	padding-right: 35px;
	margin-bottom: 45px;
    text-align: center;
}

.product_imgs{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.product_imgs img{
    height: 170px;
}

.product_imgs div{
    display: inline-block;
}

.hover-content .article-price{
	text-align: center;
	font-size: 24px;
	margin-bottom:55px; 
}

.article-color{
	text-align: center;
	margin-bottom: 20px;
}

.color-block{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 20px;
}

.color-block:last-of-type{
	margin-right: 0px;
}

.blue{
	background: blue;
}

.yellow{
	background: yellow;
}
.red{
	background: red;
}
.pos-btn{
	text-align: center;
}
.btn-add-cart{
	width:200px;
	height: 35px;
	border: 1px solid #fff;
	color: #fff;
	background: transparent;
}
.btn-add-cart:hover{
	background: #fff;
	border: none;
	color: #000;
}
.best-price{
	background: #8fb750;
}

.margin-top-160{
	margin-top: 160px !important;
}

.bolot{
	background: #8fb750;
}

.mini-top{
	height: 100px !important;
}

.mini-cart{
	vertical-align: top;
	width:100%;
	display: inline-table;
  	height: 100px;
  	color: #fff;
}

footer{
    width: 1200px;
    margin: 0 auto;
}

.size{
    cursor: pointer;
    margin-bottom: 20px;
    display: inline-block;
    padding:4px 6px 0px 6px;
    border: 1px solid transparent;
}

.size:hover, .size-selected{
	border: 1px solid #fff;
}

.dot{
    margin-right: 3px;
}

.form-place{
    width: 100%;
    position: absolute;
    z-index: 100;
    background: #758199;
    height: 495px;
    padding: 35px 0px 20px 60px;
    box-sizing: border-box;
}

.form-place input[type="text"], .form-place input[type="email"]
{
    margin-right: 18px;
    width: 292px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 20px;
}


.form-place textarea{
    box-sizing: border-box;
    width: 600px;
    height: 125px;
    padding-left: 20px;
    padding-top: 35px;
    padding-right: 20px;
    margin-bottom: 25px;
}

#id_variant li{
    display: inline-block;
    font-size: 16px;
    color: #fff;
    margin-right: 25px;
}

#id_variant li:last-of-type{
    margin-right: 0px;
}

#id_variant{
    margin-bottom: 15px;
}

#id_phone{
    width: 265px;
    height: 35px;
}

.btn-call{
    display: block;
    background: #fff;
    color:#758199;
    margin-top: 20px;
    width: 150px;
    height: 35px;
    border: 1px solid #758199;
}

.btn-call:hover{
    border: 1px solid #fff;
    background: #758199;
    color: #ffffff;
}
#form-callback{

}

.filter-line{
    width:1200px;
    margin: 0 auto;
    height:80px;
    background: #758199;
    position: relative;
}

.form-group{
    box-sizing: border-box;
    font-size: 0px;
    width:550px;
    height: 45px;
    border:2px solid #fff;
    border-radius: 3px;
    padding: 3px 5px 3px 5px ;
}

.form-group input{
    vertical-align: top;
}

.form-control{
    padding-left: 12px;
    height: 100%;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    width: 80%;
}

.form-control::-webkit-input-placeholder{
    color: #d2d2d2;
}

.form-group .btn{
    font-size: 14px;
    height: 100%;
    width: 20%;
    border: none;
    color: #fff;
    background: #8a95ab;
    outline: none;
}

.filter-line{
    display: table;
}

.filter-line form, .filter-line div{
    display: table-cell;
    vertical-align: middle;
}
.filter-line form{
    width: 595px;
    padding-left: 30px;
}
.additional-filter{
    color:#b8bec8;
}

.dropdown-basket{
    box-sizing: border-box;
    width:100%;
    background: #9ebe6d;
    position: absolute;
    z-index:101;
    opacity: 0.9;
}

.basket-mini-content{
    box-sizing: border-box;
    padding: 50px 30px 0px 30px;
}

.basket-mini-item{
    font-size: 16px;
    color:#fff;
}

.align-center{
    text-align: center;
}

.mini-text{
    font-size:12px;
}

input[type="number"]{
    width: 120px;
    height: 30px;
    font-size: inherit;
    text-align: center;
}


.remove_item{
/*  width: 20px;
    height: 20px;
    border: 1px solid;
    */
    text-align: center;
}

/*
.remove_item:hover{
    border-color:red;
    color: red;
}
*/
.vertical-middle-align{
    display: inline-block;
    vertical-align: middle;
}

.helper{
    min-height: 75px;
    display: inline-block;
    vertical-align: middle;
}

.row::before{
    margin-top: 20px;
}

.dropdown-basket .row:last-of-type{
    margin-bottom: 70px;
}

.error_field{border:1px solid red}

.dropdown-basket a{
    color:#fff;
}

.cart-h{
    font-size: 18px;
    font-weight: bold;
}

.summary, .submit-basket{
    line-height: 70px;
    text-align: center;
    height: 70px;
    background: #8fb750;
    color:#fff;
    font-size: 18px;
}

.dropdown-win{
    z-index:999 !important;

}

.cb-h{
    padding-bottom: 35px;
    font-size: 20px;
    color:#fff;
}

.list-line{
    margin-right: 5px;
}

#id_phone{
    display: none;
}

.big_search, .filter_block{
    box-sizing: border-box;
    background: #8a92a4;
    opacity: 0.9;
    position: absolute;
}


.big_search{
    height: 495px;
    display: none;
}

.big_search select, .filter_block select{
    width: 100%;
    height:35px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    padding-left: 10px;
    border-radius:3px;
    outline: none;
}

.big_search label, .filter_block label{
    font-size: 13px;
    color:#fff;
    margin-top: 10px;
}

.big_search p, .filter_block p{
    display:inline-block;
    width: 165px;
    margin-right: 20px;
    vertical-align: top;
}

.big_search select option, .filter_block select option {
    color: #fff;
    background: #8a92a4;
    outline: none;
    border: 1px solid #fff;
}

.big_search select:last-of-type, .filter_block select:last-of-type{
    margin-right: 0px;
}

.big_search .form-group{
    width:735px;
    height:64px;
    padding:10px 10px 10px 0px;
    margin-bottom: 30px;
}

.big_search .form-group .btn{
    background: #8fb750;
}

.big_search_h{
    font-size: 28px;
    color:#fff;
    margin-bottom: 30px;
}

.big_content{
    top:0px;
    left: 0px;
    position: absolute;
    padding-left: 180px;
    padding-top: 125px;
}

#slider-range{
    top: 30px;
    height:35px;
    width:350px;
    background: transparent !important;
    border: 2px solid #fff;
}
#id_price_range{
    font-size: 14px;
    color:#fff;
    background: transparent;
    border: none;
    outline: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background: url("../img/dress.b9d1f4f9909a.png") !important;
    font-size: 34px !important;
    border: none !important;
    outline: none;
    top:-5px !important;

}

.filter-line .filter_block{
    width:100%;
    display: none;
    top:0px;
    left: 0px;
}

.filter_block{
    padding-left: 80px;
    padding-top: 30px;
    padding-bottom: 60px;
}

.browse_basket{
    width: 41%;
    display: inline-block;
    vertical-align: top;
}

.empty{
    background: #d33f4d;
}

.delivery_form{
    display: none;
}

.delivery_form .cart-h{
    color:#fff;
    padding-bottom: 50px;
}

.delivery_form form{
    display: inline-block;
}

.delivery_form input, .delivery_form select{
    height: 55px;
    font-size: 22px;
    background: #fff;
    padding: 0px 20px;
    outline: none;
}

#delivery{
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

#delivery p{
    width:33.333%;
    display: inline-block;
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-bottom:20px ;
}

#delivery p label{
    color:#fff;
    font-size: 20px;
}

#delivery input, #delivery select{
    width: 100%;
}

.contact-info a{
    color:#fff;
}

.btn-close{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right:30px;
    font-size:14px;
    color: #ffffff;
    border: 1px solid #ffffff;
    background: transparent;
    padding: 5px 8px;
    z-index: 1002;
    outline: none;
}

.btn-close:hover{
    background: #FFFFFF;
    color: #000000;
}

#input-range{
    width: 350px;
    margin-top: 40px;
}
#input-range input{
    font-size: 16px;
    text-align: right;
}

#input-range label{
    font-size: 16px;
}

.content-text{
    font-size: 14px;
    padding: 15px;
}