{% load history_tags %}
{% load basket_tags %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}
{% load shopelement %}

<div class="basket-mini-content">
<form class="basket-mini-item list-unstyled" action="/basket/" method="post" id="basket_formset">

    <p class="cart-h">Корзина покупок</p>
    {% if request.basket.num_lines %}
        {% for line in request.basket.all_lines %}

                <div class="row">
                    <div class="col-sm-2">
                        <div class="image_container">
                            {% with image=line.product.parent.primary_image %}
                                {% thumbnail image.original "100x100" crop="center" upscale=False as thumb %}
                                <img class="thumbnail" src="{{ thumb.url }}" alt="{{ line.product.get_title }}">
                                {% endthumbnail %}
                            {% endwith %}
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <p><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></p>
                    </div>
                    <div class="col-sm-2 align-center"><p class="mini-text">количество</p><input type="number" id="id_form-{{ forloop.counter0 }}-quantity" value="{{ line.quantity }}"><a href="#" class="update_item vertical-middle-align" data-behaviours="update" data-count="{{ forloop.counter0 }}" data-id="{{ line.id }}">Обновить</a></div>
                    <div class="col-sm-2 price_color align-right"><strong class="vertical-middle-align">{{ line.line_price_excl_tax|currency:request.basket.currency }}</strong> <div class="helper"></div></div>
                    <div class="col-sm-1 price_color align-right"><a href="#" class="remove_item vertical-middle-align" data-behaviours="remove" data-id="{{ line.id }}"><img src="{% static 'img/delete.png' %}"></a><input style="display: none;" id="id_form-{{ forloop.counter0 }}-DELETE" name="form-{{ forloop.counter0 }}-DELETE" type="checkbox"><p class="helper"></p></div>
                </div>

        {% endfor %}
        <!--
        <div class="form-group form-actions">
            <p class="align-right">
                {% if request.basket.is_tax_known %}
                    <small>{% trans "Total:" %} {{ request.basket.total_incl_tax|currency:request.basket.currency }}</small>
                {% else %}
                    <small>{% trans "Total:" %} {{ request.basket.total_excl_tax|currency:request.basket.currency }}</small>
                {% endif %}
            </p>
            <a href="{% url 'basket:summary' %}" class="btn btn-info btn-sm">{% trans "View basket" %}</a>
            <a href="{% url 'checkout:index' %}" class="btn btn-primary btn-sm pull-right"><i class="icon-shopping-cart"></i> {% trans "Checkout" %}</a>
        </div>
    {% else %}
        <li><p>{% trans "Your basket is empty." %}</p></li>
    {% endif %}
    -->
</form>
<script src="{% static 'js/oscar/ui.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.remove_item').click(function () {
            var line = $(this).attr('data-id');
            $.ajax({
                type:'GET',
                url:'{% url "main:removeline" %}',
                data:{'line':line},
                success:function (msg) {
                    $("#basket_content").html(msg);

                }
            })
        });
        $('.update_item').click(function () {
            var line = $(this).attr('data-id');
            var count = $(this).attr('data-count');
            var quantity = $('#id_form-'+count+'-quantity').val();
            $.ajax({
                type:'GET',
                url:'{% url "main:update_basket" %}',
                data:{'line':line,'quantity':quantity },
                success:function (msg) {
                    $("#basket_content").html(msg);
                }
            })
        })
    })
</script>
{% deliveryform %}
</div>
