{% load basket_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}

{% if session.availability.is_available_to_buy %}
    {% basket_form request product 'single' as basket_form %}
    <form action="{% url 'basket:add' pk=product.pk %}" method="post">
        {% csrf_token %}
        {{ basket_form.child_id }}
        <div id="select"></div>
        {{ basket_form.quantity }}
        <button type="submit" class="btn-add-cart" data-loading-text="Добавдение...">В корзину</button>
    </form>
{% else %}
    <span class="btn btn-default btn-block disabled">{% trans "Add to basket" %}</span>
{% endif %}
