{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}

{% block product %}
    <article class="tovar l4">
			<div class="black-hover">
			</div>
			<div class="hover-content">
				<div class="product_imgs">
                    <a class="mini-img" href="{% static 'img/plat-1.png' %}"><img src="{% static 'img/plat-1.png' %}"></a>
                    <a class="mini-img" href="{% static 'img/plat-2.png' %}"><img src="{% static 'img/plat-2.png' %}"></a>
                    <a class="mini-img" href="{% static 'img/plat-3.png' %}"><img src="{% static 'img/plat-3.png' %}"></a>
                </div>
                <div class="descrp">{{ product.title }}</div>
				<div class="article-price">
                                {% include "catalogue/partials/stock_record.html" %}
                                {% if not product.is_parent %}
                                    {% include "catalogue/partials/add_to_basket_form_compact.html" %}
                                {% endif %}

                </div>
				<div class="article-color">
					<div class="color-block blue"></div>
					<div class="color-block red"></div>
					<div class="color-block yellow"></div>

				</div>
				<div class="pos-btn">
                    {% include 'catalogue/partials/add_to_basket_form_compact.html' %}
                </div>
			</div>
            {% block product_image %}
                {% with image=product.primary_image %}
                    {% thumbnail image.original "x155" upscale=False as thumb %}
                    <img class="main-img" src="{{ product.primary_image.original.url }}" alt="{{ product.get_title }}" class="thumbnail"></a>
                    {% endthumbnail %}
                {% endwith %}
            {% endblock %}
            <div class="article-info">
				<div class="article-text">
					<p id="article-title">
                        {% block product_title %}
                            {{ product.get_title|truncatewords:4 }}
                        {% endblock %}
                    </p>
					<p id="article-price">
                        {% block product_price %}

                                {% include "catalogue/partials/stock_record.html" %}
                                {% if not product.is_parent %}
                                    {% include "catalogue/partials/add_to_basket_form_compact.html" %}
                                {% endif %}

                        {% endblock %}
                    </p>
				</div>
            </div>

			<div class="article-brand"><img src="{% static 'img/lacoste.png' %}"></div>
		</article>


        {% comment %}
        {% block product_review %}
            {% iffeature "reviews" %}
                <p class="star-rating {{ product.rating|as_stars }}">
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                </p>
            {% endiffeature %}
        {% endblock %}
        {% endcomment %}




{% endblock %}
