{% extends "layout_2_col.html" %}

{% load currency_filters %}
{% load thumbnail %}
{% load product_tags %}
{% load i18n %}

{% block title %}
    "{{ query }}" | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block column_left %}
    {% if has_facets %}
        <h4>{% trans "Refine your search" %}</h4>
        <dl>
            {% for field, data in facet_data.items %}
                {% if data.results %}
                    {% include 'search/partials/facet.html' with name=data.name items=data.results %}
                {% endif %}
            {% endfor %}
        </dl>
    {% endif %}
{% endblock %}

{% block headertext %}
    {% blocktrans with q=query %}
        Products matching "{{ q }}"
    {% endblocktrans %}
{% endblock %}

{% block content %}
    <form method="get" action="." class="form-horizontal">
        {# Render other search params in a hidden block #}
        <div style="display:none">
            {% for value in selected_facets %}
                <input name="selected_facets" value="{{ value }}" />
            {% endfor %}
            {{ search_form.q }}
        </div>
        {% if paginator.count %}
            {% if paginator.num_pages > 1 %}
                {% blocktrans with start=page.start_index end=page.end_index num_results=paginator.count %}
                    Found <strong>{{ num_results }}</strong> results, showing <strong>{{ start }}</strong> to <strong>{{ end }}</strong>.
                {% endblocktrans %}
            {% else %}
                {% blocktrans count num_results=paginator.count %}
                    Found <strong>{{ num_results }}</strong> result.
                {% plural %}
                    Found <strong>{{ num_results }}</strong> results. 
                {% endblocktrans %}
            {% endif %}
            <div class="pull-right">
                {% include "partials/form_field.html" with field=search_form.sort_by %}
            </div>
        {% else %}
            <p>
                {% trans "Found <strong>0</strong> results." %}
                {% if suggestion %}
                    {% url 'search:search' as search_url %}
                    {% blocktrans %}
                        Может вы иммели ввиду <a href="{{ search_url }}?q={{ suggestion }}">"{{ suggestion }}"</a>?
                    {% endblocktrans %}
                {% endif %}
            </p>
        {% endif %}
    </form>
<script>
    $(document).ready(function () {
       $('.tovar').each(function (index,elem) {
        $(elem).find('#id_child_id').css({'display':'none'});
        var childrens = $(elem).find('#id_child_id').children('option');
        console.log(childrens);
        $.each(childrens,function (index,value) {
            var text = $(value).text();
            var val = $(value).val();
            var size = text.substr(7);
            $(elem).find("#select").append("<div class='size' value='"+val+"'>"+size+"</div><span class='dot'>.</span>");
        });
        $('.size').on("click", function () {
            $('#id_child_id').val($(this).attr('value'));
            $('.size').removeClass('size-selected');
            $(this).addClass('size-selected');
        });
       })

    });
    </script>
    <script>
        $(document).ready(function(){
            function menuplace(elem){
            event.preventDefault();
                var cat = $(elem);
                if(cat.prop('show')){
                    cat.fadeOut();
                    cat.prop('show',false);
                }
                else{
                    $('.dropdown-win').each(function (i,elem) {
                        if($(elem).prop('show')){
                            $(elem).fadeOut();
                            $(elem).prop('show',false);
                        }
                    });
                    cat.css({'top':'0px','left':'105px','width':'1095px'});
                    cat.fadeIn();
                    cat.prop('show',true);
                };
            };
        $('.content, .filter-line').on('click',function () {
               $('.dropdown-win').fadeOut();
            });
		$('.menu-block').hover(function(){
			var a = $(this).children('img');
			var src = $(a).attr('src');
			var imgname = src.substr(src.lastIndexOf('/'));
			$(a).attr('src','/static/img/hover'+imgname);
		},
		function(){
			var a = $(this).children('img');
			var src = $(a).attr('src');
			var imgname = src.substr(src.lastIndexOf('/'));
			$(a).attr('src','/static/img'+imgname);
		});
            $('#menu-menu').on("click",function(){
                menuplace('.categorys')
            });

            $('#connect-menu').on('click', function () {
                menuplace('.form-place');
            });

            $('#search-menu').on('click',function () {
               menuplace('.big_search');
            })
	    });
    </script>
    {% if page.object_list %}
        <div class="article-place">

                    {% for result in page.object_list %}
                        {% render_product result.object %}
                    {% endfor %}

                {% include "partials/pagination.html" with page_obj=page %}
        </div>

    {% endif %}

{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}
