{% extends "layout_2_col.html" %}
{% load i18n %}
{% load staticfiles %}

{% block header %}{% endblock %}

{% block column_left %}
{% endblock %}

{% block content %}

    <div class="article-place">
		<article class="tovar l4">
			<div class="black-hover">
			</div>

			<div class="hover-content">
				<div class="descrp">Белое вязаное платье-свитер с высоким воротником без рукавов</div>
				<div class="article-price">150,00 грн</div>
				<div class="article-color">
					<div class="color-block blue"></div>
					<div class="color-block red"></div>
					<div class="color-block yellow"></div>
				</div>
				<div class="pos-btn"><button class="btn-add-cart">в корзину</button></div>
			</div>
			<img class="main-img" src="{% static 'img/plat-1.png' %}">
			<div class="article-info best-price">
				<div class="article-text">
					<p id="article-title">платье из новой колекции zara-summer</p>
					<p id="article-price">150,00 грн</p>
				</div>
			</div>
			<div class="article-brand"><img src="{% static 'img/lacoste.png' %}"></div>
		</article>
		<article class="tovar l4">
			<div class="black-hover">

			</div>
			<div class="hover-content">
				<div class="descrp">Белое вязаное платье-свитер с высоким воротником без рукавов</div>
				<div class="article-price">150,00 грн</div>
				<div class="article-color">
					<div class="color-block blue"></div>
					<div class="color-block red"></div>
					<div class="color-block yellow"></div>
				</div>
				<div class="pos-btn"><button class="btn-add-cart">в корзину</button></div>
			</div>
			<img class="main-img" src="{% static 'img/plat-2.png' %}">
			<div class="article-info">
				<div class="article-text">
					<p id="article-title">платье монго-бонго италия</p>
					<p id="article-price">150,00 грн</p>
				</div>
			</div>
			<div class="article-brand"><img src="{% static 'img/lacoste.png' %}"></div>
		</article>
		<article class="tovar l4">
			<div class="black-hover">

			</div>
			<div class="hover-content">
				<div class="descrp">Белое вязаное платье-свитер с высоким воротником без рукавов</div>
				<div class="article-price">150,00 грн</div>
				<div class="article-color">
					<div class="color-block blue"></div>
					<div class="color-block red"></div>
					<div class="color-block yellow"></div>
				</div>
				<div class="pos-btn"><button class="btn-add-cart">в корзину</button></div>
			</div>

			<img class="main-img" src="{% static 'img/plat-3.png' %}">
			<div class="article-info">
				<div class="article-text">
					<p id="article-title">легкое платье франция</p>
					<p id="article-price">150,00 грн</p>
				</div>
			</div>
			<div class="article-brand"><img src="{% static 'img/lacoste.png' %}"></div>
		</article>
	</div>
	<div class="best-article">
		<div class="category-label violet">
			<p>Лучшие платья недели</p>
		</div>
		<div id="best-article-place">
		<article class="tovar l6 tovar-500">
			<div class="black-hover">

			</div>
			<div class="hover-content">
				<div class="descrp margin-top-160">Белое вязаное платье-свитер с высоким воротником без рукавов</div>
				<div class="article-price">150,00 грн</div>
				<div class="article-color">
					<div class="color-block blue"></div>
					<div class="color-block red"></div>
					<div class="color-block yellow"></div>
				</div>
				<div class="pos-btn"><button class="btn-add-cart">в корзину</button></div>
			</div>
			<img class="main-img" src="{% static 'img/plat-4.png'%}">
			<div class="article-info">
				<div class="article-text">
					<p id="article-title">платье монго-бонго италия</p>
					<p id="article-price">150,00 грн</p>
				</div>
			</div>
			<div class="article-brand"><img src="{% static 'img/lacoste.png' %}"></div>
		</article>
		<article class="tovar l6 tovar-500">
			<div class="black-hover">

			</div>
			<div class="hover-content">
				<div class="descrp margin-top-160">Белое вязаное платье-свитер с высоким воротником без рукавов</div>
				<div class="article-price">150,00 грн</div>
				<div class="article-color">
					<div class="color-block blue"></div>
					<div class="color-block red"></div>
					<div class="color-block yellow"></div>
				</div>
				<div class="pos-btn"><button class="btn-add-cart">в корзину</button></div>
			</div>
			<img class="main-img" src="{% static 'img/plat-5.png' %}">
			<div class="article-info">
				<div class="article-text">
					<p id="article-title">легкое платье франция</p>
					<p id="article-price">150,00 грн</p>
				</div>
			</div>
			<div class="article-brand"><img src="{% static 'img/lacoste.png' %}"></div>
		</article>
		</div>
	</div>
	{% include 'partials/banners.html' %}
	<div class="article-place">
		<article class="tovar l4">
			<div class="black-hover">

			</div>
			<div class="hover-content">
				<div class="descrp">Белое вязаное платье-свитер с высоким воротником без рукавов</div>
				<div class="article-price">150,00 грн</div>
				<div class="article-color">
					<div class="color-block blue"></div>
					<div class="color-block red"></div>
					<div class="color-block yellow"></div>
				</div>
				<div class="pos-btn"><button class="btn-add-cart">в корзину</button></div>
			</div>
			<img class="main-img" src="{% static 'img/plat-1.png' %}">
			<div class="article-info best-price">
				<div class="article-text">
					<p id="article-title">платье из новой колекции zara-summer</p>
					<p id="article-price">150,00 грн</p>
				</div>
			</div>
			<div class="article-brand"><img src="{% static 'img/lacoste.png' %}"></div>
		</article>
		<article class="tovar l4">
			<div class="black-hover">

			</div>
			<div class="hover-content">
				<div class="descrp">Белое вязаное платье-свитер с высоким воротником без рукавов</div>
				<div class="article-price">150,00 грн</div>
				<div class="article-color">
					<div class="color-block blue"></div>
					<div class="color-block red"></div>
					<div class="color-block yellow"></div>
				</div>
				<div class="pos-btn"><button class="btn-add-cart">в корзину</button></div>
			</div>
			<img class="main-img" src="{% static 'img/plat-2.png' %}">
			<div class="article-info">
				<div class="article-text">
					<p id="article-title">платье монго-бонго италия</p>
					<p id="article-price">150,00 грн</p>
				</div>
			</div>
			<div class="article-brand"><img src="{% static 'img/lacoste.png' %}"></div>
		</article>
		<article class="tovar l4">
			<div class="black-hover">

			</div>
			<div class="hover-content">
				<div class="descrp">Белое вязаное платье-свитер с высоким воротником без рукавов</div>
				<div class="article-price">150,00 грн</div>
				<div class="article-color">
					<div class="color-block blue"></div>
					<div class="color-block red"></div>
					<div class="color-block yellow"></div>
				</div>
				<div class="pos-btn"><button class="btn-add-cart">в корзину</button></div>
			</div>

			<img class="main-img" src="{% static 'img/plat-3.png' %}">
			<div class="article-info">
				<div class="article-text">
					<p id="article-title">легкое платье франция</p>
					<p id="article-price">150,00 грн</p>
				</div>
			</div>
			<div class="article-brand"><img src="{% static 'img/lacoste.png' %}"></div>
		</article>
	</div>
    <script>
        $(document).ready(function(){
            function menuplace(elem){
            event.preventDefault();
                var cat = $(elem);
                if(cat.prop('show')){
                    cat.fadeOut();
                    cat.prop('show',false);
                }
                else{
                    $('.dropdown-win').each(function (i,elem) {
                        if($(elem).prop('show')){
                            $(elem).fadeOut();
                            $(elem).prop('show',false);
                        }
                    });
                    cat.css({'top':'0px','left':'105px','width':'1095px'});
                    cat.fadeIn();
                    cat.prop('show',true);
                };
            };
        $('.content, .filter-line').on('click',function () {
               $('.dropdown-win').fadeOut();
            });
		$('.menu-block').hover(function(){
			var a = $(this).children('img');
			var src = $(a).attr('src');
			var imgname = src.substr(src.lastIndexOf('/'));
			$(a).attr('src','/static/img/hover'+imgname);
		},
		function(){
			var a = $(this).children('img');
			var src = $(a).attr('src');
			var imgname = src.substr(src.lastIndexOf('/'));
			$(a).attr('src','/static/img'+imgname);
		});
            $('#menu-menu').on("click",function(){
                menuplace('.categorys')
            });

            $('#connect-menu').on('click', function () {
                menuplace('.form-place');
            });

            $('#search-menu').on('click',function () {
               menuplace('.big_search');
            })
	    });
    </script>
{% endblock content %}
