{% extends "layout.html" %}
{% load promotion_tags %}
{% load staticfiles %}
{% load shopelement %}
{% comment %}
Keep the same header and footer as the standard layout template but override the 
main content area to split it into a sidebar and a content block
{% endcomment %}
{% block content_wrapper %}
    {% block top %}
        <div id="top" class="big-top">
            <div class="top_menu vertical">
                <a href="#">
                    <div class="menu-block" id="search-menu"><img src="{% static 'img/search.png' %}"><p>Поиск</p></div>
                </a>
                <a href="">
                    <div class="menu-block" id="menu-menu"><img src="{% static 'img/category.png' %}"><p>Меню</p></div>
                </a>
                <a href="">
                    <div class="menu-block" id="connect-menu"><img src="{% static 'img/meil.png'%}"><p>Свзяаться</p></div>
                </a>
            </div>
            {% include "partials/nav_primary.html" %}
            {% include "partials/big_search.html" %}
                <div class="logo"><p class="logo-text">ZAPAS.CO<span class="subtext">магазин роскошных платьев</span></p>
                <div class="social">
                    <a href="https://www.facebook.com/zapas.co"><img src="{% static 'img/fb-ico.png' %}"></a>
		            <a href="https://vk.com/zapasco"><img src="{% static 'img/vk-ico.png' %}"></a>
                    <a href="https://vk.com/zapasco"><img src="{% static 'img/insta-ico.png' %}"></a>
                </div>
            </div>
            <div class="cart">
                <div class="cart-place">
                        {% block mini_basket %}{% include "partials/mini_basket.html" %}{% endblock %}
                </div>
            </div>

            {% showform %}


        </div>
    {% endblock %}

    <div class="content">

        {% comment %}
        <div class="row">
            <aside class="sidebar col-sm-4 col-md-3">
                {# Render promotions at the top of the left-hand sidebar #}
                <div id="promotions_left">
                    {% for promotion in promotions_left %}
                        {% render_promotion promotion %}
                    {% endfor %}
                </div>
                {% block column_left %}{% endblock %}
            </aside>

            <div class="col-sm-8 col-md-9">
                {% block header %}
                <div class="page-header action">
                    <h1>{% block headertext %}{% endblock %}</h1>
                </div>
                {% endblock %}

                {% include "partials/alert_messages.html" %}

                <div id="promotions">
                    {% for promotion in promotions_page %}
                        {% render_promotion promotion %}
                    {% endfor %}
                </div>
        {% endcomment %}
        {% block content %}


        {% endblock %}

        {% comment %}
            </div>
        </div><!-- /row -->
        {% endcomment %}

    <!-- /article-place -->

</div><!-- /content -->
    <script type="text/javascript">
    $(document).ready(function () {
       $(".btn-close").click(function () {
           $(this).parent('.dropdown-win').fadeOut();
       });
    });
    </script>

{% endblock %}

{% block extrascripts %}
     {% include "partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}
