{% extends "layout_2_col.html" %}

{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags %}
{% load product_tags %}
{% load i18n %}
{% load staticfiles %}
{% load shopelement %}


{% block title %}
    {% if summary %}{{ summary }} |{% endif %} {{ block.super }}
{% endblock %}

{% block headertext %}{{ summary }}{% endblock %}

{% block breadcrumbs %}

{% endblock breadcrumbs %}

{% block column_left %}
    {% category_tree as tree_categories %}
    {% if tree_categories %}
        <h4>{% trans "Show results for" %}</h4>
        <div class="side_categories">
            <ul class="nav nav-list">
                {% for tree_category, info in tree_categories %}
                    <li>
                        <a href="{{ tree_category.get_absolute_url }}">
                            {% if tree_category.pk == category.pk %}
                                <strong>{{ tree_category.name }}</strong>
                            {% else %}
                                {{ tree_category.name }}
                            {% endif %}
                        </a>

                        {% if info.has_children %}<ul>{% else %}</li>{% endif %}
                        {% for n in info.num_to_close %}
                            </ul></li>
                        {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if has_facets %}
        <h4>{% trans "Refine by" %}</h4>
        <div class="side_categories">
            {% for field, data in facet_data.items %}
                {% if data.results %}
                    {% include 'search/partials/facet.html' with name=data.name items=data.results %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block top %}
    <div id="top" class="mini-top">
    <div class="top_menu horizontal">
        <a href="/">
            <div class="menu-block" id="search-menu">
                <img src="{% static 'img/back.png' %}"><p style="margin-top: 7px">Назад</p>
            </div>
        </a>

        <a href="">
            <div class="menu-block" id="menu-menu">
                <img src="{% static 'img/category.png' %}"><p style="margin-top: 8px">Категории</p>
            </div>
        </a>
        <a href="" name="backcall">
            <div class="menu-block" id="connect-menu">
                <img src="{% static 'img/meil.png' %}"><p style="margin-top: 7px;">Свзяаться</p>
            </div>
        </a>

    </div>

    <div class="browse_basket" id="content_inner">
        {% block mini_basket %}{% include "partials/mini_basket.html" %}{% endblock %}
    </div>
        {% include "partials/nav_primary.html" %}
        {% showform %}

            
    </div>
    <div class="filter-line">
        {% include 'partials/search.html' %}
        <div class="additional-filter">Дополнительные фильтры <img src="{% static 'img/arrow-down.gif' %}"></div>
        {% include 'partials/additional_filter.html' %}
    </div>
{% endblock %}

{% block content %}
     <div class="article-place">

    {% comment %}
    <form method="get" class="form-horizontal">
        {# Render other search params in a hidden block #}
        <div style="display:none">
            {% for value in selected_facets %}
                <input name="selected_facets" value="{{ value }}" />
            {% endfor %}
            {{ form.q }}
        </div>

        {% if paginator.count %}
            {% if paginator.num_pages > 1 %}
                {% blocktrans with start=page_obj.start_index end=page_obj.end_index count num_results=paginator.count %}
                    <strong>{{ num_results }}</strong> result - showing <strong>{{ start }}</strong> to <strong>{{ end }}</strong>.
                {% plural %}
                    <strong>{{ num_results }}</strong> results - showing <strong>{{ start }}</strong> to <strong>{{ end }}</strong>.
                {% endblocktrans %}
            {% else %}
                {% blocktrans count num_results=paginator.count %}
                    <strong>{{ num_results }}</strong> result.
                {% plural %}
                    <strong>{{ num_results }}</strong> results.
                {% endblocktrans %}
            {% endif %}
            {% if form %}
                <div class="pull-right">
                    {% include "partials/form_field.html" with field=form.sort_by %}
                </div>
            {% endif %}
        {% else %}
            <p>
                {% trans "<strong>0</strong> results." %}
            </p>
        {% endif %}
    </form>
    {% endcomment %}
    {% if products %}
                    {% for product in products %}
                        {% render_product product %}
                    {% endfor %}
                {% include "partials/pagination.html" %}

    {% else %}
        <p class="nonefound">{% trans "No products found." %}</p>
    {% endif %}
</div>
    {% include 'partials/banners.html' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/oscar/ui.js' %}"></script>
    <script>

    $(document).ready(function () {
       $('.tovar').each(function (index,elem) {
           $(elem).find('#id_child_id').css({'display':'none'});
           var childrens = $(elem).find('#id_child_id').children('option');
           console.log(childrens);
           $.each(childrens,function (index,value) {
               var text = $(value).text();
               var val = $(value).val();
               var size = text.substr(7);
               $(elem).find("#select").append("<div class='size' value='"+val+"'>"+size+"</div><span class='dot'>.</span>");
           });

           $(elem).find('.size').on("click", function () {
               $(elem).find('#id_child_id').val($(this).attr('value'));
               $('.size').removeClass('size-selected');
               $(this).addClass('size-selected');

           });
       })
        var $lg = $('.product_imgs');
        $lg.lightGallery();

    });
    </script>
    <script>

    var options = {
        'basketURL': '{% url 'basket:summary' %}'
    };
    oscar.basket.init(options);

        $(document).ready(function(){
            function menuplace(elem){
            event.preventDefault();

                var cat = $(elem);
                if(cat.prop('show')){
                    cat.fadeOut();
                    cat.prop('show',false);
                }
                else{
                    $('.dropdown-win').each(function (i,elem) {
                        if($(elem).prop('show')){
                            $(elem).fadeOut();
                            $(elem).prop('show',false);
                        }
                    });

                    cat.css({'top':'100px','left':'0px'});
                    cat.fadeIn();
                    cat.prop('show',true);
                };
            }


            function onblock() {
                var a = $(this).children('img');
			    var src = $(a).attr('src');
			    var imgname = src.substr(src.lastIndexOf('/'));
			    $(a).attr('src','/static/img/hover'+imgname);
            };
            function outblock(){
                var a = $(this).children('img');
			    var src = $(a).attr('src');
			    var imgname = src.substr(src.lastIndexOf('/'));
			    $(a).attr('src','/static/img'+imgname);
            }
            $('.menu-block').hover(
                    onblock,
                    outblock
            );
            $('.remove_item').hover(
                    onblock,
                    outblock
            )
             $('.content').on('click',function () {
               $('.dropdown-win').fadeOut();
            });

            $('.menu-block').click(onblock);

            $('#search-menu').on("click",function(){
                menuplace('.big_search');
            });

            $('#menu-menu').on("click",function(){
                menuplace('.categorys');
            });
            $('#connect-menu').on('click', function () {
                menuplace('.form-place');
            });
            $('.mini-cart.bolot').on('click', function () {
                menuplace('.dropdown-basket');
            });


            $('.filter_block').css({'top':$('.filter-line').height()+'px','left':'0px'});

            $('.additional-filter').click(function () {
               $('.filter_block').fadeIn();
            });
            var options = {
                'basketURL': '/basket/'
            };

            oscar.basket.init(options);

	    })
    </script>


{% endblock content %}

{% block extrascripts %}
    {% include "partials/extrascripts.html" %}

{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}
