{% load thumbnail %}
{% load staticfiles %}

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Zapas.co заказ оформлен</title>
        <style type="text/css">
            body, #header h1, #header h2, h3, p{ margin: 0px; padding: 0px; font-family:Helvetica; }
            a{text-decoration: none;}
            #contact-us span, #contact-us img{vertical-align: middle;}
            #congrat{ padding-top: 40px; padding-bottom: 20px;}
        </style>
    </head>

    <body>
        <table width="100%" align="center" cellpadding="0" cellspacing="0" bgcolor="#fff">
            <tr>
                <td align="center"><img width="100%" src="{% static 'img/email-top.png' %}">
                </td>
            </tr>
            <tr>
                <td>
                <table align="center" id="congrat">
                    <tr>

                        <td align="center" style="vertical-align:top;"><img src="{% static 'img/ok.png' %}"></td>
                        <td align="cen" style="vertical-align:top; font-size:24px;">
                            <h3>Поздравляем, с красивой покупкой!</h3>
                            <h3>Это платье подчеркнет Вашу красоту!</h3>
                        </td>
                    </tr>
                </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="center" width="500px" bgcolor="#e1e7f2" style="font-size:15px; margin-bottom:10px;">
                        {% for line in delivery.basket.all_lines %}
                        <tr>
                            <td>
                                {% with image=line.product.parent.primary_image %}
                                {% thumbnail image.original "100x100" crop="center" upscale=False as thumb %}
                                    <img class="thumbnail" src="{{ thumb.url }}" alt="{{ line.product.get_title }}">
                                {% endthumbnail %}
                            {% endwith %}
                            </td>
                            <td>
                                <p>{{ line.description }}</p>
                                <p>Количество: {{ line.quantity }} шт.</p>
                                <p>Цена единицы: <span style="color:#84d755">{{ line.unit_price_excl_tax}} грн</span></p>
                                <p>Общая стоимость: <span style="color:#84d755">{{ line.line_price_excl_tax}} грн</span></p>
                            </td>
                        </tr>
                        {% endfor %}

                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="500px" bgcolor="#e1e7f2" align="center" style="margin-bottom:10px;" cellpadding="10px">
                    <tr>

                        <td align="center" style="vertical-align:top;">{{ delivery.post_name }}</td>
                        <td align="cen" style="vertical-align:top; font-size:15px;">
                            <p>{{ delivery.city.city_name }}, {{ delivery.sklad }}, {{ delivery.pib }}, тел: {{ delivery.phone }}, <span style="color:#84d755">Цена: 0,00 грн</span></p>
                        </td>
                    </tr>
                </table>

                </td>
            </tr>
            <tr>
                <td>
                    <table width="500px" align="center" style="margin-bottom:25px;">
                        <tr>
                            <td align="left"><a href="" style=" width:235px;padding:15px 0px; background:#6ccf34; color: #fff; display:block; text-align:center">Оплатить картой VISA/MC</a></td>
                            <td align="right"><a href="" style="width:235px; padding:15px 0px; background:#d75bd8; color: #fff; display:block; text-align:center">Наличными в терминале</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td id="contact-us" align="center" bgcolor="#8d96aa" align="middle" style="color:#fff; padding:15px 0px;"><span style="margin-right:10px;">Подпишитесь на нас</span> <a  href="#" style="margin-right:5px"><img src="fb-ico.png" ></a> <a href="" style="margin-right:5px"><img src="vk-ico.png"></a> <a href=""><img src="insta-ico.png"></a></td>
            </tr>
        </table><!-- wrapper -->
    </body>
</html>